<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        p {border: 2px blue dashed; border-radius: 5px 0 15px 0; padding: 5px 0 9px 5px;}
    </style>
    <title>0103 database using mysql install</title>
</head>
<body>
    <a href="#botpg" id="topg">Link to page bottom</a> <br>
    <a href="homepage0105.html">Link to homepage</a>
    <hr>
    <h2><i>0105 mysql notes demo3</i></h2>
    <p>
        # to check if mysql is ready to use <br>
        >> mysql <br> <br>
        __________#ex1 to create database <br>---------------<br>
        >> CREATE DATABASE db_name0103; <br><br>
        ex2.<br>-----<br>>>  create database db_name2; <br>
        <br>
        __________# to switch and use the database <br>--------------<br>
        >> USE db_name0103; <br>Database changed <- message output<br>
        <br>
        __________# create new table with columns and datatypes <br>-----------------<br>
        >> CREATE TABLE devices0103( deviceID int, deviceName varchar(50), price decimal );<br>
        <br>Output: -> Query OK, 0 rows affected <br>
        <br>
        __________# show table cmd <br>
        >> SHOW tables;   |   show tables; <br>
        <br>
        +----------------------+ <br>
        | Tables_in_cm_devices  <br>
        +----------------------+ <br>
        | devices                <br>
        +----------------------+ <br>
        1 row in set (0.00 sec)  <br>
        <br>
        ___________# to check the table and its fields<br>
        >> show columns from devices; <br><br>
+------------+---------------+------+-----+---------+-------+ <br>
| Field      | Type          | Null | Key | Default | Extra | <br>
+------------+---------------+------+-----+---------+-------+ <br>
| deviceID   | int           | YES  |     | NULL    |       | <br>
| deviceName | varchar(50)   | YES  |     | NULL    |       | <br>
| price      | decimal(10,0) | YES  |     | NULL    |       | <br>
+------------+---------------+------+-----+---------+-------+ <br>
3 rows in set (0.00 sec) <br>
<br>
    </p>
    <p>
        ____________# ex2 create new table w/ records<br>
        >> CREATE TABLE stock(deviceID int, quantity int, totalCost decimal);



    </p>
    <hr>
    <a href="#topg" id="botpg">Link to page top</a>
</body>
</html>