<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {border: 2px blue dashed; padding: 5px 10px 10px 5px;}
        .apiv {color: orange;}
        .return {color: purple;}
        .def {color: green;}
        .miss {color: brown;}
        .meni {color: red;}
    </style>
    <title>0106 django serializers demo6 > </title>
</head>
<body>
    <h2>0106 django serializers demo6</h2>
    <a href="#botpg" id="topg">Link to page bottom</a> <br>
    <a href="homepage0105.html">Link to homepage</a>
    <hr>
    <p>
        ________#ex0106 display models and there fields as hyperlinks > HyperlinkedRelatedField :D > serializers.py <br>------------<br>
        <br>
        ___________# method1 <br>----------------<br>
        <a href="from" class="from">from</a> rest_framework <a href="import" class="import">import</a> serializers <br>
        <a href="from" class="from">from</a> decimal <a href="import" class="import">import</a> Decimal <br>
        <a href="from" class="from">from</a> .models <a href="import" class="import">import</a> <a href="meni" class="meni"><b>MenuItem</b></a>, Category <br>
        <br>
        <a href="class" class="class">class</a> <i><b>CategorySerializer</b></i>(serializers.ModelSerializer): <br>
        .. stock = serializers.IntegerField(source='inventory') <br>
        .. price_after_tax = serializers.SerializerMethodField(method_name='calculate_tax') <br>
        .. category = CategorySerializer() <br>
        <br>

        .. <a href="class" class="class">class</a> Meta: <br>
        ...... model = <b>Category</b> <br>
        ...... fields = ['id', 'slug', 'title'] <br>
        <br>
        <br>
        <a href="class" class="class">class</a> <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>(serializers.ModelSerializer): <br>
        .. <a href="class" class="class">class</a> Meta: <br>
        ...... model = <a href="meni" class="meni"><b>MenuItem</b></a> <br>
        ...... fields = ['id', 'title', 'price', 'stock', 'price_after_tax', 'category'] <br>
        <br>
        <a href="def" class="def">def</a> calculate_tax(self, product:<a href="meni" class="meni"><b>MenuItem</b></a>): <br>
        .. <a href="return" class="return">return</a> product.price * Decimal(1.1) <br>
        <br>
        <br>
        <br>
        <br>

    </p>
    <hr>
    <sup> <a href="#botpg" id="topg">Link to page bottom</a> </sup> <br>
    <hr>
    <p>
        _________#ex0106 method2 <br> edit on serializer to show every field in model <br>
        # note1: serializers.py <br>--------<br>all relationships in this serializer will display every field related to that model using > depth = 1 <br>
        --------------<br><br>
       <a href="class" class="class">class</a> <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>(serializers.ModelSerializer): <br>
        .. stock = serializers.IntegerField(source='inventory') <br>
        .. price_after_tax = serializers.SerializerMethodField(method_name='calculate_tax') <br>
        .. <strike>category = CategorySerializer()</strike> <br>
        <br>
        .. <a href="class" class="class">class</a> Meta: <br>
        ...... model = <a href="meni" class="meni"><b>MenuItem</b></a> <br>
        ...... fields = ['id', 'title', 'price', 'stock', 'price_after_tax', 'category'] <br>
        ...... depth = 1 <br>
        <br>
        .. <a href="def" class="def">def</a> calculate_tax(self, product:<a href="meni" class="meni"><b>MenuItem</b></a>): <br>
        ...... <a href="return" class="return">return</a> product.price * Decimal(1.1) <br>
        <br>
        <br>
    </p>
    <p>
        ________#ex1016 > Display model fields as hyperlink demo1 <br><br>
        2 ways to display every related model fields as hyperlink in API output <br>
        1- HyperlinkedRelatedField <br>
        >> <i>queryset</i>
        <br>--------> finds the related object and a view name used to map the URL pattern <br>
        <br>
        ___# serializers.py > create HyperLinkedRelatedField <br><br>
        from .models import Category <br>
        <br>
        <a href="class" class="class">class</a> <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>(serializers.ModelSerializer): <br>
        .. stock = serializers.IntegerField(source='inventory') <br>
        .. price_after_tax = serializers.SerializerMethodField(method_name = 'calculate_tax') <br>
        .. category = serializers.HyperlinkedRelatedField( <br>
        ...... queryset = Category.objects.all(), <br>
        ...... view_name='category-detail' <br>
        .. ) <br>
        class Meta: <br>
        .. model = <a href="meni" class="meni"><b>MenuItem</b></a> <br>
        .. fields = ['id','title','price','stock', 'price_after_tax','category']<br><br>
        def calculate_tax(self, product:<a href="meni" class="meni"><b>MenuItem</b></a>): <br>
        .. return product.price * Decimal(1.1) <br>
        <br>
        <br>
    </p>
    <p>
        ________#ex0106 2- HyperlinkedModelSerializer <br>-------------<br>
        # edit to extend the serializers class <br>
        <br>
        <a href="class" class="class">class</a> <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>(serializers.<i>HyperlinkedModelSerializer</i>): <br>
        <br>
        .. stock = serializers.IntegerField(source='inventory') <br>
        .. price_after_tax = serializers.SerializerMethodField(method_name='calculate_tax') <br>
        <br>
        .. <a href="class" class="class">class</a> Meta: <br>
        ...... model = <a href="meni" class="meni"><b>MenuItem</b></a> <br>
        ...... fields = ['id', 'title', 'price', 'stock', 'price_after_tax', 'category'] <br>
        <br>
        .. <a href="def" class="def">def</a> calculate_tax(self, product:<a href="meni" class="meni"><b>MenuItem</b></a>): <br>
        ...... <a href="return" class="return">return</a> product.price * Decimal(1.1) <br>
        <br>
        <br>

    </p>
    <p>
        __________#ex0106 views.py <br>---------------<br>
        <a href="from" class="from">from</a> .models <a href="import" class="import">import</a> <b>Category</b> <br>
        <a href="from" class="from">from</a> .serializers <a href="import" class="import">import</a> <b>CategorySerializer</b> <br>
        <br>
        @api_view() <br>
        <a href="def" class="def">def</a> category_detail(request, pk): <br>
        .. category = get_object_or_404(<b>Category</b>,pk=pk)  <br>
        .. serialized_category = <b>CategorySerializer</b>(category) <br>
        .. <a href="return" class="return">return</a> Response(serialized_category.data)<br>
        <br>
        <br>
    </p>
    <hr>
    <sup> <a href="#botpg" id="topg">Link to page bottom</a> </sup> <br>
    <hr>
    <p>
        _________#ex0106 views.py <br> --------------<br>
        <a href="from" class="from">from</a> .models <a href="import" class="import">import</a> <a href="meni" class="meni"><b>MenuItem</b></a> <br>
        <a href="from" class="from">from</a> .serializers <a href="import" class="import">import</a> <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a> <br>
        <a href="from" class="from">from</a> djago.shortcuts <a href="import" class="import">import</a> get_object_or_404 <br>
        <a href="from" class="from">from</a> rest_framework.response <a href="import" class="import">import</a> Response <br>
        <a href="from" class="from">from</a> rest_framework.decorators <a href="import" class="import">import</a> <b>api_view</b> <br>
        <a href="from" class="from">from</a> rest_framework<a href="import" class="import">import</a> <b>status</b> <br>

        <br>
        <br>
        <a href="apiv" class="apiv">@api_view()</a> <br>
        <a href="def" class="def">def</a> <i>single_item</i>(request, id): <br>
        .. item = get_object_or_404(<a href="meni" class="meni"><b>MenuItem</b></a>, pk=id) <br>
        .. serialized_item = <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>(item) <br>
        .. <a href="return" class="return">return</a> Response(serialized_item.data) <br>
        <br>
        <br>______# ex1 0106 original method before edits <br>---------------<br>
        <a href="apiv" class="apiv">@api_view(['GET','POST'])</a> <br>
        <a href="def" class="def">def</a> <i>menu_items</i>(request): <br>
        .. items = <a href="meni" class="meni"><b>MenuItem</b></a>.objects.select_related('category').all() <br>
        .. serialized_item = <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>(items, many=True) <br>
        .. <a href="return" class="return">return</a> Response(serialized_item.data) <br>
        <br>
    </p>
    <p>
        _________#ex2 0106 views.py added if statement <br>----------------<br>
        <a href="apiv" class="apiv">@api_view(['GET','POST'])</a> <br>
        <a href="def" class="def">def</a> <i>menu_items</i>(request): <br>
        .. <a href="if" class="if">if</a> request.method == 'GET': <br>
        ...... items = <a href="meni" class="meni"><b>MenuItem</b></a>.objects.select_related('category').all() <br>
        ...... serialized_item = <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>(items, many=True) <br>
        ...... <a href="return" class="return">return</a> Response(serialized_item.data) <br>
        <br>
        .. <a href="if" class="if">if</a> request.method == 'POST': <br>
        ...... serialized_item = <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>(data=request.data) <br>
        ...... serialized_item.is_valid(raise_exception=True) <br>
        ...... serialized_item.save() <br>
        ...... <a href="return" class="return">return</a> Response(serialized_item.data, status.HTTP_201_CREATED) <br>
        <br>


    </p>
    <br>
    <hr>
    <a href="miss" class="miss"><i><b>MenuItemSerializer</b></i></a>
    <br>
    <a href="meni" class="meni"><b>MenuItem</b></a>

    <p>
        __________#ex0106 urls.py <br>--------------- connects to views.py method <br><br>
        urlpatterns = [<br>
        .. path('category/< int:pk>', views.category_detail, name='category-detail') <br>
        .. path('menu-items', views.menu_items), <br>
        .. path('menu-items/< int:id>', views.single_item), <br>
        ]<br>
    </p>



    <br>
    <hr>
    <a href="#topg" id="botpg">Link to page top</a>
</body>
</html>