<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>0108 views.py save for menuitems variables </title>
    <style>
        .def {color: orange;} .from {color: tan;} .apiv {color: purple;} .meni {color: green;}
        .miss {color: green;} .retu {color: red;} p {border: 2px blue dashed; padding: 5px;}
        .mivs {color: brown;}

    </style>
</head>
<body>
    <h2>0108 pagination > to add page limits per API call to server </h2> <br>
    <h3>___#0108 views.py save </h3>
    <p>
        <a href="from" class="from">from</a> rest_framwork <a href="impo" class="impo">import</a> status, viewsets <br>
        <a href="from" class="from">from</a> decimal <a href="impo" class="impo">import</a> Decimal <br>
        <a href="from" class="from">from</a> django.shortcuts <a href="impo" class="impo">import</a> get_object_or_404 <br>
        <a href="from" class="from">from</a> rest_framwork.response <a href="impo" class="impo">import</a> Response <br>
        <a href="from" class="from">from</a> rest_framwork.decorators <a href="impo" class="impo">import</a> api_view, renderer_classes <br>
        <a href="from" class="from">from</a> .models <a href="impo" class="impo">import</a> MenuItem <br>
        <a href="from" class="from">from</a> .serailizers <a href="impo" class="impo">import</a> MenuItemSerializer <br>
        <a href="from" class="from">from</a> django.core.paginator <a href="impo" class="impo">import</a> Paginator, EmptyPage <br>

        <br>
        <br>
        <a href="apiv" class="apiv">@api_view</a>(['GET','POST']) <br>
        <a href="def" class="def">def</a> <b><i>menu_items</i></b>(request): <br>
        <br>
        .. <a href="if" class="if">if</a> (request.method=='GET'): <br>
        ...... items = <a href="meni" class="meni">MenuItem</a>.objects.select_related('category').all()  <br>
        ...... category_name = request.query_params.get('category') <br>
        ...... to_price = request.query_params.get('to_price') <br>
        ...... search = request.query_params.get('search') <br>
        ...... ordering = request.query_params.get('ordering') <br>
        ...... perpage = request.query_params.get('perpage', default=2) <br>
        ...... page = request.query_params.get('page', default=1)<br>
        <br>
        <br>
        ...... <a href="if" class="if">if</a> category_name: <br>
        .......... items = items.filter(category__title=category_name) <br>
        ...... <a href="if" class="if">if</a> to_price: <br>
        .......... items = items.filter(price=to_price) <br>
        ...... <a href="if" class="if">if</a> search: <br>
        .......... items = items.filter(title__contains=search) <br>
        ...... <a href="if" class="if">if</a> ordering: <br>
        .......... ordering_fields = ordering.split(",") <br>
        .......... items = items.order_by(*ordering_fields) <br>
        <br>
        <br>
        ...... paginator = Paginator(items, per_page=perpage) <br>
        ...... <a href="try" class="try">try</a>: <br>
        .......... items = paginator.page(number=page) <br>
        ...... <a href="exce" class="exce">except</a> EmptyPage: <br>
        .......... items = [ ] <br>

        <br>
        <br>
        ...... serialized_item = <a href="miss" class="miss">MenuItemSerializer</a>(items, many=True) <br>
        ...... <a href="retu" class="retu">return</a> Response(serialized_item.data) <br>
        <br>
        <br>
        .. <a href="elif" class="elif">elif</a> request.method=='POST': <br>
        ...... serialized_item = <a href="miss" class="miss">MenuItemSerializer</a>(data=request.data)  <br>
        ...... serialized_item.is_valid(raise_exception=True)  <br>
        ...... serialized_item.save()  <br>
        ...... <a href="retu" class="retu">return</a> Response(serialized_item.validated_data, status.HTTP_201_CREATED) <br>
        <br>
        <br>
    </p>
    <hr>
    <br>
    <br>
    <p>
        __views.py #ex2 0108 scaffold the project <br>--------------<br>
        <a href="clas" class="clas">class</a> <a href="mivs" class="mivs"><b><i>MenuItemViewSet</i></b></a>(viewsets.ModelViewSet): <br>
        .. queryset = <a href="meni" class="meni">MenuItem</a>.objects.all() <br>
        .. serializer_class = <a href="miss" class="miss">MenuItemSerializer</a> <br>
        .. ordering_fields=['price', 'inventory'] <br>
        .. search_fields=['title', 'category__title'] <br>
        <br>
        <br>
        __urls.py #ex2 0108 scaffold project map the URLS <br>---------------<br>
        urlpatterns = [<br>
        .. path('menu-items', views.<a href="mivs" class="mivs"><b><i>MenuItemViewSet</i></b></a>.as_view({'get': 'list'})), <br>
        .. path('menu-items/< int:pk>', views.<a href="mivs" class="mivs"><b><i>MenuItemViewSet</i></b></a>.as_view({'get': 'retrieve'})), <br>
        ]<br>
    </p>
    <hr>
    <br>
    <br>
    <p>
        __settings.py #ex2 0108 adding the script for filters <br>--------------------<br>
        REST_FRAMEWORK = { <br>
        .. 'DEFAULT_RENDERER_CLASSES': [<br>
        ...... 'rest_framework.renderers.JSONRenderer', <br>
        ...... 'rest_framework.renderers.XMLRenderer', <br>
        ...... 'rest_framework.renderers.BrowsableAPIRenderer', <br>
        .. ], <br>

        .. 'DEFAULT_FILTER_BACKENDS': [ <br>
        ...... 'django_filters.rest_framework.DjangoFilterBackend', <br>
        ...... 'rest_framework.filters.OrderingFilter', <br>
        ...... 'rest_framework.filter.SearchFilter', <br>
        .. ], <br>
        <br>
        .. 'DEFAULT_PAGINATION_CLASS': 'rest_framework.pagination.PageNumberPagination', <br>
        .. 'PAGE_SIZE': 2 <br>
        <br>
        <br>
        Note: page_size property tells drf how many items to show per page* <br>
        <br>
        Note: adding search_fields to views.py adds a search bar to top <br>
        <br>
        Note: adding ordering_fields to views.py adds ordering section on page for ascend/descend order... <br>
        <br>

        <br>




    </p>


</body>
</html>