<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>0105 homepage template demo3</title>
    <style>
        p {border: 2px blue dashed; padding: 5px 0 8px 5px;}
    </style>
</head>
<body>
    <h2><i>0105 homepage template demo3</i></h2>
    <p>
        # git install notes 010524' <br>
        1- cd to directory want to have as repo <br>
        >> git init <br>
        <br>
        2- check what branch currently on <br>
        >> git branch <br>
        <br>
        3- add remote URL for repo to connect to on github <br>
        >> git remote add origin https://github.com/py3user22/0105_django_proj.git <br>
        <br>
        4- check if remote is correct using <br>
        >> git remote -v <br>
        origin  https://github.com/py3user22/0105_django_proj.git (fetch) <br>
        origin  https://github.com/py3user22/0105_django_proj.git (push)  <br>
    </p>
    <p>
        ________# install pipenv <br>
        >> pip install pipenv <br>
        <br>
        ________# start shell <br>
        >> pipenv shell <br>
        <br>
        _______# install django <br>
        >> pipenv install django <br>
        <br>
        _______# startproject cmd <br>
        >> django-admin startproject django_proj0105 <br>
        <br>
        _______# startapp cmd -> change to directory with manage.py in it <br>
        >> py manage.py startapp app0105 <br>
        <br>

    </p>
</body>
</html>