<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>0105 homepage template demo3</title>
    <style>
        p {border: 2px blue dashed; padding: 5px 0 8px 5px;}
        p:hover {color: orange;}
        a:hover {color: green;}
        h2 {color: tan; border: 2px blue solid; padding: 5px 0 5px 5px;}
    </style>
</head>
<body>
    <h2><i>0105 homepage template demo3</i></h2>
    <a href="#botpg" id="topg">Link to page bottom</a> <br>
    <hr>
    <a href="0105_mysql_demo3.html">0105 mysql install notes demo3</a> <br>
    <a href="0105_django_rest_framework.html">0105 DRF django rest framework demo2</a> <br>
    <a href="0106_django_serializers_demo6.html">0106 serializers demo6</a> <br>
    <a href="0106_menu-item.html">0106 menu-item html for renderers</a> <br>
    <a href="0106_django_renderers_install.html">0106 django renderers install demo xml</a>

    <p>
        # git install notes 010524' <br>
        1- cd to directory want to have as repo <br>
        >> git init <br>
        <br>
        2- check what branch currently on <br>
        >> git branch <br>
        <br>
        3- add remote URL for repo to connect to on github <br>
        >> git remote add origin https://github.com/py3user22/0105_django_proj.git <br>
        <br>
        4- check if remote is correct using <br>
        >> git remote -v <br>
        origin  https://github.com/py3user22/0105_django_proj.git (fetch) <br>
        origin  https://github.com/py3user22/0105_django_proj.git (push)  <br>
    </p>
    <p>
        ________# install pipenv <br>
        >> pip install pipenv <br>
        <br>
        ________# start shell <br>
        >> pipenv shell <br>
        <br>
        _______# install django <br>
        >> pipenv install django <br>
        <br>
        _______# startproject cmd <br>
        >> django-admin startproject django_proj0105 <br>
        <br>
        _______# startapp cmd -> change to directory with manage.py in it <br>
        >> py manage.py startapp app0105 <br>
        <br>
    </p>
    <p>
        # to save data in repo <br>
        >> git add . <br>
        <br>
        # to commit to repo <br>
        >> git commit -m '0105 enter message here' <br>
        <br>
        # to push to remote repo <br>
        >> git push -u origin main <br>
        <br>
        # to pull from remote repo <br>
        >> git pull origin main <br>
        <br>
        # optional: if have merge history error <br>
        >> git merge origin/main --allow-unrelated-histories <br>
        <br>
    </p>
    <p>
        #0105 databases > mysql install notes <br>-------------------<br>
        __________# must install app ' mysqlclient ' for django <br>
        >> pipenv install mysqlclient .. | .. >> pip install mysqlclient<br>
        <br>
        <br>
        #settings.py <br>------------<br>
        DATABASES = {<br>
        .. 'default': {<br>
        ...... 'ENGINE': 'django.db.backends.mysql' <br>
        ...... 'NAME': 'mydatabase' <br>
        ...... 'USER': 'root', <br>
        ...... 'PASSWORD': '', <br>
        ...... 'HOST': '127.0.0.1', <br>
        ...... 'PORT': '3306', <br>
        ...... 'OPTIONS': {<br>
        ........... 'init_command': "SET sql_mode='STRICT_TRANS_TABLES'" <br>
        ...... }<br>
        ... }<br>}<br>
        <br>

    </p>



    <hr>
    <a href="#topg" id="botpg">Link to page top</a>
</body>
</html>