<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {border: 2px blue dashed;}
    </style>
    <title>0108 w3 lab API > filtering, ordering, searching demo3</title>
</head>
<body>
    <h2>0108 w3 lab > API > filter,order,search demo3</h2>
    <p>
        ___#0108 w3 lab > API <br>--------------------<br>
        notes: for lab app0108_lab >>  is called LittleLemonDRF  <br>

         <br>
         <br>
    </p>
</body>
</html>